#first {
    color: blueviolet;
}
#second {
    color: green;
}
.third {
    color: gold;
}

.myDiv {
    border: 6px solid black;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.third:hover, a:hover {
    color: red   ;
}
a:visited {
    color: purple;
}

div p{
    color: darkorange;
}
p{
    color: blue
}