.white{
    background-color: white;
    width: 60px;
    height: 60px;
}
.black{
    background-color: black;
    width: 60px;
    height: 60px;
}
.chess{
    border: 7px solid black;
    text-align: center;
}